body {
    font-family: "Book Antiqua", serif;
    max-height: 100vh;
}

div.competitor {
    text-align: center;
}

div.sidebar-div {
    height: 100%;
    align-items: center;
    max-width: 500px;
}

div.leaderboard-div {
    position: absolute;
    padding: 2em;
    max-height: 50%;
    overflow-y: scroll;
}

div.skip-btn {
    position: fixed;
    bottom: 10px;
    right: 10px;
}
