body {
    font-family: "Book Antiqua", serif;
    max-height: 100vh;
}

div.competitor {
    text-align: center;
}

div.skip-btn {
    position: fixed;
    bottom: 10px;
    right: 10px;
    z-index: 9999;
}

div.shortcut-help {
    position: fixed;
    bottom: 10px;
    left: 10px;
}
