{% extends 'base.html' %}
{% block content %}
    <p><a id="backToGameLink" class="link" href="{{ url_for('index_view') }}">Back
        to the
        game...</a></p>

    <h1>{{ c.name }} ({{ c | hymn_number }})</h1>
    <p><a target="_blank" href="{{ c | hymnary_url }}">
        View on Hymnary.org</a></p>

    <div class="justify-content-center">
        <table class="table">
            <thead>
            <tr>
                <td>Wins</td>
                <td>Losses</td>
                <td>Ladder</td>
                <td>Elo</td>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>{{ c.wins }}</td>
                <td>{{ c.losses }}</td>
                <td>{{ c.ladder }}</td>
                <td>{{ c.elo }}</td>
            </tr>
            </tbody>
        </table>
    </div>
    <p>
        Given its current Elo ranking, this hymn has a probability
        weighting of <strong>{{ c | format_weight }}</strong> for
        appearing in future contests.
    </p>

    <h2>Match history</h2>
    <ul>
        {% for result in results %}
            <li>{{ result.verb }} against <a class="link text-decoration-none"
                                             href="{{ url_for('competitor_detail_view', cid=result.other.id) }}">
                {{ result.other.name }}</a>
                {% if result.delo is not none %}
                    (<strong>{{ result.delo | format_delo }}</strong>)
                {% endif %}
                {#                ({{ result.match.submitter }})#}
            </li>
        {% endfor %}
    </ul>
    <script>
      document.addEventListener('keypress', (event) => {
        if (event.key === 'q')
          document.getElementById("backToGameLink").click();
      });
    </script>
{% endblock %}
