<table id="leaderboard" class="table">
    <thead>
    <tr>
        <td></td>
        <td>Wins</td>
        <td>Losses</td>
        <td class="text-center">&percnt;</td>
        <td data-bs-toggle="tooltip"
            title="Number of consecutively won matches.">Ladder
        </td>
        <td data-bs-toggle="tooltip"
            data-bs-html="true"
            title="Elo ranking: Weighted ranking that goes up more
                if you beat a more highly-ranked competitor.">
            Elo
        </td>
    </tr>
    </thead>
    <tbody>
    {% for c, class_name in leaderboard %}
        <tr class="{{ class_name }}">
            <td><span class="hymnary-link"
                      data-hurl="{{ c | hymnary_url }}">
                    <a class="competitorDetails text-decoration-none text-body"
                       href="{{ url_for('competitor_detail_view', cid=c.id) }}"
                       data-bs-toggle="tooltip" data-bs-html="true"
                       title="NEH {{ c | hymn_number }}<br/>Click for details.">
                        {{ c.name }}</a>
                </span>
            </td>
            <td class="text-end">{{ c.wins }}</td>
            <td class="text-end">{{ c.losses }}</td>
            <td class="text-end">{{ c | winloss_perc }}</td>
            <td class="text-end" data-bs-toggle="tooltip"
                data-bs-html="true"
                title="This hymn has won <strong>{{ c.ladder }}</strong>
                    consecutive matches.">{{ c.ladder }}</td>
            <td class="text-end" data-bs-toggle="tooltip"
                data-bs-html="true"
                title="Elo ranking">{{ c.elo | format_elo }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
