<h2 class="text-center">Leaderboard</h2>
<div class="leaderboard-div overflow-auto">
    <table id="leaderboard" class="table">
        <thead>
        <tr>
            <td></td>
            <td>L</td>
            <td>Elo</td>
        </tr>
        </thead>
        <tbody>
        {% for c in competitors %}
            <tr>
                <td>{{ c.name }}</td>
                <td data-bs-toggle="tooltip" data-bs-html="true"
                    title="Ladder score">{{ c.ladder }}</td>
                <td data-bs-toggle="tooltip" data-bs-html="true"
                    title="Elo ranking">{{ c.elo | format_elo }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
