<div class="d-flex">
    <div class="flex-grow-1"></div>
    <div>
        <a id="toggleAdvancedViewBtn"
           class="btn btn-secondary btn-sm fs-6"
           data-bs-toggle="tooltip"
           title="Show/hide Wilson win estimators">🤓</a>
    </div>
</div>
<table id="leaderboard" class="table">
    <thead>
    <tr>
        <td></td>
        <td>Wins</td>
        <td>Losses</td>
        <td class="pc-naive text-center">&percnt;</td>
        <td class="pc-estimate text-center"><i>p</i> estimate</td>
        <td data-bs-toggle="tooltip"
            title="Number of consecutively won matches.">Ladder
        </td>
        <td data-bs-toggle="tooltip"
            data-bs-html="true"
            title="Elo ranking: Weighted ranking that goes up more
                if you beat a more highly-ranked competitor.">
            Elo
        </td>
    </tr>
    </thead>
    <tbody>
    {% for c, class_name in leaderboard %}
        <tr class="{{ class_name }}">
            <td><span class="hymnary-link"
                      data-hurl="{{ c | hymnary_url }}">
                    <a class="competitorDetails text-decoration-none text-body"
                       href="{{ url_for('competitor_detail_view', cid=c.id) }}"
                       data-bs-toggle="tooltip" data-bs-html="true"
                       title="NEH {{ c | hymn_number }}<br/>Click for details.">
                        {{ c.name }}</a>
                </span>
            </td>
            <td class="text-end">{{ c.wins }}</td>
            <td class="text-end">{{ c.losses }}</td>
            <td class="pc-naive text-end">{{ c | winloss_perc }}</td>
            <td class="pc-estimate text-end">{{ c | p_estimate }}</td>
            <td class="text-end" data-bs-toggle="tooltip"
                data-bs-html="true"
                title="This hymn has won <strong>{{ c.ladder }}</strong>
                    consecutive matches.">{{ c.ladder }}</td>
            <td class="text-end" data-bs-toggle="tooltip"
                data-bs-html="true"
                title="Elo ranking">{{ c.elo | format_elo }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<script>
  const advancedViewBtn = document.getElementById('toggleAdvancedViewBtn');
  const basicEls = document.querySelectorAll('.pc-naive');
  const advancedEls = document.querySelectorAll('.pc-estimate');
  basicEls.forEach((el) => {
    el.style.display = '';
  });
  advancedEls.forEach((el) => {
    el.style.display = 'none';
  });

  advancedViewBtn.addEventListener('click', () => {
    basicEls.forEach((el) => {
      if (el.style.display === '')
        el.style.display = 'none';
      else
        el.style.display = '';
    });

    advancedEls.forEach((el) => {
      if (el.style.display === '')
        el.style.display = 'none';
      else
        el.style.display = '';
    });
  });
</script>
