{% extends 'base.html' %}

{% block content %}
    <p><a id="backToGameLink" class="link"
          href="{{ url_for('index_view') }}">Back
        to the
        game...</a></p>

    <h1>Leaderboard</h1>

    <p>Sort by:
        <a class="link text-decoration-none"
           href="{{ url_for('leaderboard_view') }}?sortBy=wins">wins</a>
        <a class="link text-decoration-none"
           href="{{ url_for('leaderboard_view') }}?sortBy=losses">losses</a>
        <a class="link text-decoration-none"
           href="{{ url_for('leaderboard_view') }}?sortBy=ladder">ladder</a>
        <a class="link text-decoration-none"
           href="{{ url_for('leaderboard_view') }}?sortBy=elo">elo</a>
    </p>

    <div class="container">
        {% include 'leaderboardTable.html' %}
    </div>
{% endblock %}

{% block sidebar %}
{% endblock %}
