<form id="competitionForm"
      action="{{ url_for('match_create_view') }}"
      method="post">
    <input type="hidden" name="p1" value="{{ p1.id }}"/>
    <input type="hidden" name="p2" value="{{ p2.id }}"/>
    <input type="hidden" name="winner" value=""/>

    <div>
        <div class="row justify-content-center">
            <div class="col-9 text-center">
                <label>Your name
                    <input type="text" name="submitter"
                           class="form-control"
                           placeholder="Your name..." required/>
                </label>
            </div>
        </div>

        <div class="d-flex flex-row justify-content-center">
            <div id="voteP1Btn"
                 class="competitor btn btn-success m-2 d-flex flex-column col-5"
                 data-bs-toggle="tooltip"
                 data-bs-html="true"
                 title="{{ p1 | describe_winloss }}">
                <div class="row mb-auto">
                    <h1>{{ p1.name }}</h1>
                    <p>NEH {{ p1 | hymn_number }}<br/>
                </div>
                <div class="row">
                    <p>L: {{ p1.ladder }} /
                        Elo: {{ p1.elo | format_elo }}</p>
                </div>
            </div>

            <div id="voteP2Btn"
                 class="competitor col btn btn-warning m-2 d-flex flex-column col-5"
                 data-bs-toggle="tooltip"
                 data-bs-html="true"
                 title="{{ p2 | describe_winloss }}">
                <div class="row mb-auto">
                    <h1>{{ p2.name }}</h1>
                    <p>NEH {{ p2 | hymn_number }}<br/>
                </div>
                <div class="row">
                    <p>L: {{ p2.ladder }} /
                        Elo: {{ p2.elo | format_elo }}</p>
                </div>
            </div>
        </div>
        <div class="d-flex flex-row justify-content-center">
            <div id="skipBtn"
                 class="skip-btn btn btn-secondary p-1 d-flex flex-column col-2"
                 data-bs-toggle="tooltip" data-bs-html="true"
                 title="NEH? Meh.<br/>Both will lose points!">
                <h2>🤷</h2>
            </div>

        </div>
    </div>
</form>

<script src="{{ url_for('static', filename='vote.js') }}"></script>
